<!-- modeified -->
@model LeaveTypeVM

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Leave Type</h4>


<hr />
<div class="row">
    <!-- modeified -->
    <div class="col-md-8"> 

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- modeified -->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>

            <!-- modeified -->
            <!-- making button for back to list -->
            <br />

            <div class="form-group">

                <input type="submit" value="Save Changes" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-primary"> <i class="fa-solid fa-circle-left"></i> Back to List </a>
            </div>

            <br />

            <!-- edit needs id of data to be menuplated when hit save changes id pass to post edit  -->
            <input type="hidden" asp-for="Id" /> 

        </form>
    </div>
</div>



