@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Source Code <a href="https://github.com/vishal-joshi2023/LeaveManagement">Click Here</a>.</p>
</div>
