 @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <!--Md-4 -> Md-12 -->
    <div class="col-md-12"> 
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- **** modified new addedons Ref Register.cshtml.cs -->
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control"  aria-required="true" />
                <label asp-for="Input.FirstName"> </i> </label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"> </i> </label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" />
                <label asp-for="Input.DateOfBirth">  </label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.DateJoined" class="form-control"  aria-required="true" />
                <label asp-for="Input.DateJoined">  </label>
                <span asp-validation-for="Input.DateJoined" class="text-danger"></span>
            </div>
            <br />

            <!-- **** -->

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"> <i class="fa-regular fa-envelope"></i> </label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"> <i class="fa-solid  fa-key"></i>  </label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <label asp-for="Input.ConfirmPassword"> <i class="fa-solid  fa-key"></i> </label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary"> <i class="fa-solid fa-user"></i>  Register </button>
        </form>
    </div>

    <!--Not needed External login Engine -->
    <!-- Removed -->   

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
